.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mainIcon {
  width: 20%;
}

.btnFrom {
  background-color: #ff5e00;
}

.formLocationsPick {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 0px 25px 20px;
}

.resultSearchLocation {
  margin-top: -10px;
  border-radius: 15px;
  background-color: #ff5e009d;
  padding: 70px;
}

.toCardLocation {
  justify-content: flex-end;
}

.locationChoose {
  width: 90%;
  height: 300px;
}

.fromCardLocation {
  width: 300px;
}

.departureChooseForm {
  display: flex;
  width: 90%;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
}

.revertIcon {
  width: 40%;
  margin-left: 125px;
}

.revertBtn {
  border: none;
  background: none
}

.cardLocationsPicked {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputFrom {
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(196, 196, 196, 0.063);
}

.intinerariesInfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.noFlightsMsg {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 350px;
  margin-bottom: 30%;
  align-items: center;
  justify-content: center;
}

.successMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.returnBtn {
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #ff5e00;
}

.searchTickets {
  background-color: rgba(196, 196, 196, 0.575);
  box-shadow: 0 0 0 0.5rem #ff5e00a0;
  border: 0.5px outset gray;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}

.flightTitleContainer {
  background-color: rgba(196, 196, 196, 0.575);
  padding: 35px;
  border-radius: 10px;
}

.selectFlightTitle {
  display: flex;
  flex-direction: row;
}

.navbarOptions:hover {
  border-radius: 10px;
  background-color: #ff5e00a0;;
}