
    <div class="modal-dialog">
      <div class="modal-content">
        <div  class="modal-body customerServiceMsg">
            <img class="mb-4" style="width: 500px; align-self: center; margin-top: -17px;" src="assets/customerService.png" />
            <div class="container">
              <div>
                <p style="align-self: center;"><strong>Talk to GOL</strong></p>
                <div class="contactTel">
                  <p style="width: 200px; margin-top: 20px;">Exclusive for ticket purchase, change, rebooking flights and information.</p>
                  <div>
                    <p style="margin-left: -15px;"><strong>Brazil</strong></p>
                    <p style="color: #ff5e00a0; margin-left: -15px;"><strong>0300 115 2121</strong></p>
                    <p style="margin-left: -15px;"><strong>Exterior</strong></p>
                    <p style="color: #ff5e00a0; margin-left: -15px;"><strong>+55 11 5504 4410</strong></p>
                  </div>
                <hr>
                </div>
                <p style="align-self: center;"><strong>Smiles Call Center</strong></p>
                <div class="contactTel">
                  <p style="width: 200px; margin-top: 20px;">Exclusively for queries, cancellations, flight changes or complaints that were issued with miles by the Smiles website.</p>
                  <div>
                    <p><strong>Clients Diamond and Gold</strong></p>
                    <p style="color: #ff5e00a0; margin-top: 30px;"><strong>0300 115 7007</strong></p>
                    <p><strong>Clients Smiles and Silver</strong></p>
                    <p style="color: #ff5e00a0"><strong>0300 115 7001</strong></p>
                  </div>
                </div>
                <hr>
                <div class="contactTel">
                  <p style="align-self: center; margin-top: 30px;"><strong>Other service channels</strong></p>
                  <p style="color: #ff5e00a0; margin-top: 30px;"><strong>0800 704 0465</strong></p>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
