
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input style="width: 100%; justify-content: flex-start;" type="text" name="email" placeholder="Your Email" [(ngModel)]="email" class="form-control">
            <br>
            <input style="width: 100%; justify-content: flex-start;" type="text" name="name" placeholder="Your Name" [(ngModel)]="name" class="form-control">
        </div>
        <div class="modal-footer">
          <button  id="loginModelClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button  type="button" data-bs-dismiss="" class="btn btn-primary" (click)="loginCompleted()">Login</button>
        </div>
      </div>
    </div>
