.locationChoose {
  width: 90%;
  height: 300px;
}

.departureChooseForm {
  display: flex;
  width: 90%;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
}

.cardLocationsPicked {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intinerariesInfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.noFlightsMsg {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 350px;
  margin-bottom: 30%;
  align-items: center;
  justify-content: center;
}

.successMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.returnBtn {
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #ff5e00;
}

.flightTitleContainer {
  background-color: rgba(196, 196, 196, 0.575);
  padding: 35px;
  border-radius: 10px;
}

.selectFlightTitle {
  display: flex;
  flex-direction: row;
}