.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mainIcon {
  width: 20%;
}

.navbarOptions:hover {
  border-radius: 10px;
  background-color: #ff5e00a0;;
}

.loggedHeader {
  display: flex;
  padding-top: 15px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}